// Title page
.t-page {
  position: relative;
  padding: 100px 100px 100px 0px;
  display: flex;
  @media #{$sm} {
    padding: 50px 80px 50px 0;
  }
  .t-page__content {
    width: 80%;
    @media #{$xlg} {
      width: 90%;
    }
    @media #{$sm} {
      width: 100%;
    }
    .entry-title {
      margin: 0;
      padding: 25px 0;
      font-size: 38px;
    }
    p {
      font-size: 21px;
      margin: 0;
      @media #{$sm} {
        font-size: 16px;
      }
    }
  }
  .t-page__sroll {
    cursor: pointer;
    // width: 40%;
    position: absolute;
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
    // padding: 0 50px;
    // position: relative;
    // transform: translateY(15%);

    right: 0px;
    height: 60%;
    top: 30%;

    @media #{$sm} {
      width: 10%;
      padding: 0 0 0 10px;
      transform: translate(-10px, 15%);
      top: 20%;
    }
    svg {
      animation-name: scroll;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      transition: all 2s linear;
      position: absolute;
      bottom: 0;
      right: 47px;
      @media #{$sm} {
        right: 0px;
      }
    }
    span {
      margin-right: 20px;
      font-weight: bold;
      color: $black;
      margin-bottom: 10px;
      @media #{$sm} {
        display: none;
      }
    }
    &:before {
      content: "";
      position: absolute;
      right: 66px;
      top: -30%;
      width: 1px;
      height: 100%;
      background-color: $gray;
      @media #{$sm} {
        right: 14px;
      }
    }
  }
}

// Error 404
.error404 {
  h1 {
    font-size: 100px !important;
    margin: 20px 0;
    text-align: center;
  }
  .btn {
    text-align: center;
    margin: 0 auto;
  }
}

#error {
  padding: 0 0 50px 0;
}
