@import "../../variable";

#slider-hero {
  position: relative;
  // min-height: 500px;
  // max-height: 70vh;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  @media #{$md} {
    flex-wrap: wrap;
  }
  .swiper-wrapper {
    align-items: center;
    // position: absolute;
    // top: 50%;
    // transform: translate(0, -50%);
  }
  .slider-hero__wraper {
    width: calc(100% - 180px);
    order: 2;
    @media #{$lg} {
      width: calc(100% - 100px);
    }
    @media #{$md} {
      width: 100%;
      order: 1;
    }
  }
}

.slider-home {
  .h1 {
    font-size: 54px;
    @media #{$md} {
      font-size: 38px;
    }
    @media #{$sm} {
      font-size: 31px;
    }
  }
  p {
    font-size: 21px !important;
    max-width: 80%;
    margin-bottom: 0px;
    @media #{$sm} {
      max-width: 100%;
      font-size: 16px !important;
    }
  }
  br {
    @media #{$xlg} {
      display: none;
    }
  }
  .slider__content {
    padding: 50px 30px;
    @media #{$md} {
      padding: 30px 15px;
    }
    @media #{$md} {
      width: 100%;
      padding: 30px 0px;
    }
  }
  .slide {
    position: relative;
    a {
      text-decoration: none !important;
    }
  }
  .slider__content_wraper {
    display: flex;
    align-items: center;
    .slider__content {
      width: 60%;
      @media #{$xs} {
        width: 100%;
      }
    }
    .img {
      width: 40%;
      @media #{$xs} {
        position: absolute;
        max-width: 100%;
        width: 60%;
        right: 0;
        z-index: -1;
        opacity: 0.3;
      }
      img {
        // width: 480px;
        // height: 480px;
        width: 100%;
        height: auto;
        @media #{$xs} {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .c-white {
    p,
    .h1 {
      color: #fff !important;
    }
  }
}
.pag-con {
  width: 180px;
  order: 1;
  @media #{$lg} {
    width: 100px;
  }
  @media #{$md} {
    width: 100%;
    order: 2;
  }
  .swiper-pagination {
    position: relative;
    width: 100px !important;
    @media #{$md} {
      width: initial !important;
      position: relative;
      display: flex;
    }
    div {
      display: flex;
      padding: 20px 0;
      background: none;
      opacity: 1 !important;
      outline: 0;
      display: flex;
      align-items: center;
      text-shadow: 0 0 2px #fff;
      @media #{$md} {
        width: 50px;
        align-items: center;
        justify-content: center;
      }

      .num {
        font-size: 18px;
        color: $black !important;
      }
    }
    .swiper-pagination-bullet-active {
      text-shadow: none;
      .sep {
        display: block;
        min-width: 20px;
        height: 1px;
        background-color: $main;
        margin-right: 30px;
        @media #{$md} {
          display: none;
        }
      }
      .num {
        font-size: 18px;
        color: $main !important;
        font-weight: 500;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: -8px;
          top: -4px;
          width: 36px;
          height: 36px;
          border: 1px solid $main;
          border-radius: 100%;
        }
      }
    }
  }
}
