#slider-hero {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 998px) {
  #slider-hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#slider-hero .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider-hero .slider-hero__wraper {
  width: calc(100% - 180px);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (max-width: 1300px) {
  #slider-hero .slider-hero__wraper {
    width: calc(100% - 100px);
  }
}

@media only screen and (max-width: 998px) {
  #slider-hero .slider-hero__wraper {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.slider-home .h1 {
  font-size: 54px;
}

@media only screen and (max-width: 998px) {
  .slider-home .h1 {
    font-size: 38px;
  }
}

@media only screen and (max-width: 768px) {
  .slider-home .h1 {
    font-size: 31px;
  }
}

.slider-home p {
  font-size: 21px !important;
  max-width: 80%;
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  .slider-home p {
    max-width: 100%;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 1400px) {
  .slider-home br {
    display: none;
  }
}

.slider-home .slider__content {
  padding: 50px 30px;
}

@media only screen and (max-width: 998px) {
  .slider-home .slider__content {
    padding: 30px 15px;
  }
}

@media only screen and (max-width: 998px) {
  .slider-home .slider__content {
    width: 100%;
    padding: 30px 0px;
  }
}

.slider-home .slide {
  position: relative;
}

.slider-home .slide a {
  text-decoration: none !important;
}

.slider-home .slider__content_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-home .slider__content_wraper .slider__content {
  width: 60%;
}

@media only screen and (max-width: 460px) {
  .slider-home .slider__content_wraper .slider__content {
    width: 100%;
  }
}

.slider-home .slider__content_wraper .img {
  width: 40%;
}

@media only screen and (max-width: 460px) {
  .slider-home .slider__content_wraper .img {
    position: absolute;
    max-width: 100%;
    width: 60%;
    right: 0;
    z-index: -1;
    opacity: 0.3;
  }
}

.slider-home .slider__content_wraper .img img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 460px) {
  .slider-home .slider__content_wraper .img img {
    width: 100%;
    height: auto;
  }
}

.slider-home .c-white p,
.slider-home .c-white .h1 {
  color: #fff !important;
}

.pag-con {
  width: 180px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (max-width: 1300px) {
  .pag-con {
    width: 100px;
  }
}

@media only screen and (max-width: 998px) {
  .pag-con {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.pag-con .swiper-pagination {
  position: relative;
  width: 100px !important;
}

@media only screen and (max-width: 998px) {
  .pag-con .swiper-pagination {
    width: initial !important;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.pag-con .swiper-pagination div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  background: none;
  opacity: 1 !important;
  outline: 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0 0 2px #fff;
}

@media only screen and (max-width: 998px) {
  .pag-con .swiper-pagination div {
    width: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pag-con .swiper-pagination div .num {
  font-size: 18px;
  color: #37444a !important;
}

.pag-con .swiper-pagination .swiper-pagination-bullet-active {
  text-shadow: none;
}

.pag-con .swiper-pagination .swiper-pagination-bullet-active .sep {
  display: block;
  min-width: 20px;
  height: 1px;
  background-color: #e70680;
  margin-right: 30px;
}

@media only screen and (max-width: 998px) {
  .pag-con .swiper-pagination .swiper-pagination-bullet-active .sep {
    display: none;
  }
}

.pag-con .swiper-pagination .swiper-pagination-bullet-active .num {
  font-size: 18px;
  color: #e70680 !important;
  font-weight: 500;
  position: relative;
}

.pag-con .swiper-pagination .swiper-pagination-bullet-active .num:after {
  content: "";
  position: absolute;
  right: -8px;
  top: -4px;
  width: 36px;
  height: 36px;
  border: 1px solid #e70680;
  border-radius: 100%;
}
/*# sourceMappingURL=slider.css.map */