@import "../../variable";

#logos {
  // padding: 50px 0px;
  .t-section__wraper {
    margin-bottom: 30px;
  }
  .logos {
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      .logo {
        padding: 10px;
        img {
          max-width: 100%;
          height: auto;
          filter: grayscale(100%);
          transition: all 0.3s linear;
          opacity: 0.3;
        }
        a {
          &:hover {
            img {
              opacity: 1;
              filter: grayscale(0%);
            }
          }
        }
      }
    }
  }
}
